div, td, table {
    border: 0 solid red;
}

#container * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

#container {
    text-align: center;
    height: 405px;
    width: 720px;
    margin: auto;
}

#title {
    position: absolute;
    color: white;
    z-index: 10;
    font-family: sans-serif;
    margin: 2.5%;
    font-size: 16px;
}

:-webkit-full-screen #title {
    font-size: 36px;
}

#container:-webkit-full-screen {
    height: 100%;
    width: 100%;
}

#controls {
    position: relative;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    margin: auto;
    opacity: 1;
    transition: opacity 0.2s;
}

#gradient {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,131313+100&0.7+0,0+30,0+80,0.7+100 */
    background: -moz-linear-gradient(top, rgba(20, 20, 20, 0.7) 0%, rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0) 80%, rgba(20, 20, 20, 0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.7) 0%, rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0) 80%, rgba(20, 20, 20, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0) 80%, rgba(20, 20, 20, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3131313', endColorstr='#b3131313', GradientType=0); /* IE6-9 */
}

#preview {
    position: absolute;
    bottom: 50px;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.1s;
}

:-webkit-full-screen #preview {
    bottom: 70px;
}

#thumbnail {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 2px;
}

#seek-bar {
    position: absolute;
    bottom: 30px;
    width: 95%;
    margin: 0 2.5%;
    padding: 7px 0;
    height: 7px;
}

:-webkit-full-screen #seek-bar {
    bottom: 42px;
    padding: 14px 0;
}

#options-bar {
    position: absolute;
    bottom: 0;
    height: 30px;
    margin: 0 2.5%;
}

:-webkit-full-screen #options-bar {
    height: 42px;
    font-size: 20px;
}

#options-bar td {
    padding: 0 10px 10px;
}

:-webkit-full-screen #options-bar td {
    padding: 5px 15px 10px;
}

.control-button {
    color: white;
    width: 25px;
    text-align: center;
}

#volume-button-icon {
    background-size: contain;
    background-repeat: no-repeat;
}

:-webkit-full-screen #volume-button-icon {
}

#options-bar #volume-slider-container {
    padding-left: 0;
}

#volume-slider {
    width: 60px;
}

:-webkit-full-screen #volume-slider {
    width: 100px;
}

#thumbnail-position {
    position: absolute;
    bottom: 0;
    width: 320px;
}

#thumbnail-text {
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 2px;
}

#video {
    background-color: black;
    z-index: -999999;
}

#seek-handle {
    position: relative;
    background-color: #004D82;
    border-radius: 50%;
    width: 0;
    height: 0;
    left: 0;
    margin-top: 3px;
    transition: height 0.2s, width 0.2s, margin-top 0.2s;
}

:-webkit-full-screen #seek-handle {
    margin-top: 5px;
}

#seek-bar:hover #seek-handle {
    width: 10px;
    height: 10px;
    display: block;
    margin-top: -3px;
}

:-webkit-full-screen #seek-bar:hover #seek-handle {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.progress-bar {
    position: absolute;
    margin-top: 1px;
    height: 3px;
    transition: height 0.2s, margin-top 0.2s;
}

:-webkit-full-screen .progress-bar {
    height: 5px;
    margin-top: 3px;
}

#seek-bar:hover .progress-bar {
    height: 5px;
    margin-top: 0;
}

:-webkit-full-screen #seek-bar:hover .progress-bar {
    height: 10px;
    margin-top: 0;
}

#progress-background {
    background-color: rgba(200, 200, 200, 0.2);
    width: 100%;
}

#seek-progress {
    width: 0;
    background-color: #00467F;
}

#hover-progress {
    background-color: rgba(200, 200, 200, 0.3);
}

#load-progress {
    background-color: rgba(200, 200, 200, 0.4);
}

#bookmarks-markers-container {
    width: 100%;
}

#bookmarks-markers-container > div {
    position: absolute;
    height: 100%;
    background-color: #FFFFFF;
    width: 1px;
}

#options-menu-container {
    position: absolute;
    right: 0;
    margin-right: 2.5%;
    bottom: 50px;
    z-index: 10;
    display: none;
}

:-webkit-full-screen #options-menu-container {
    bottom: 70px;
}

#options-menu {
    width: 200px;
    height: 120px;
    border-collapse: collapse;
    border-radius: 2px;
    z-index: 20;
}

#options-menu td {
    height: 40px;
    vertical-align: middle;
}

#options-menu.options-mode {
    width: 110px;
    height: 210px;
}

:-webkit-full-screen #options-menu {
    bottom: 70px;
}

#options-menu td {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 10px;
}

#options-menu tr:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

#options-menu #top-level tr > td:nth-child(1) {
    font-weight: 600;
}

#options-menu #top-level tr > td:nth-child(2) {
    text-align: right;
    width: 99%;
}

#options-menu sup {
    color: #0081cd;
    font-size: 10px;
}

#options-menu #quality-select {
    display: none;
}

#options-menu #quality-select tr > td:nth-child(1) {
    width: 10px;
}

#options-menu #quality-select tr > td:nth-child(2) {
    text-align: right;
    width: 99%;
}

/* options menu header */
#options-menu #quality-select tr:nth-child(1):hover {
    background-color: transparent;
}

/* options menu hr */
#options-menu #quality-select hr {
    position: absolute;
    width: 110px;
    top: 35px;
    border: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

#options-menu #quality-select tr:nth-child(2):hover {
    background-color: transparent;
}

#options-menu #quality-select tr:nth-child(2) td {
    padding: 0;
    height: 10px;
}

#options-menu #quality-select tr:not(:first-child) > td:nth-child(1) {
    padding-right: 0;
}

/* tick icon */
#options-menu #quality-select tr:not(:first-child) i {
    visibility: hidden;
}

#options-menu #quality-select tr.selected i {
    visibility: visible;
}

#options-menu-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 120px;
    border-radius: 2px;
    z-index: -5;
    background-color: rgba(20, 20, 20, 0.8);
    transition: width 0.05s, height 0.05s;
}

#options-menu-bg.options-mode {
    width: 110px;
    height: 210px;
}

#video-speed {
    width: 50px;
    height: 25px;
    border: none;
    text-align: right;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    background-color: rgba(200, 200, 200, 0.2);
}

#thumbnails-slider-bg {
    position: absolute;
    right: 8px;
    top: 9px;
    width: 40px;
    height: 16px;
    border-radius: 8px;
    background-color: rgba(200, 200, 200, 0.7);
    transition: background-color 0.2s;
}

#thumbnails-slider-bg.on {
    background-color: #0081cd;
}

#thumbnails-slider-knob {
    position: absolute;
    height: 20px;
    width: 20px;
    top: -2px;
    right: 20px;
    border-radius: 50%;
    background-color: #efefef;
    transition: background-color 0.2s, right 0.2s;
}

#thumbnails-slider-bg.on #thumbnails-slider-knob {
    color: white;
    right: 0;
}

#time-display {
    width: 150px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: -3px;
    padding-top: 2px;
}

:-webkit-full-screen #time-display {
    font-size: 18px;
    padding-top: 4px;
}

/* volume slider styles*/
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 60px;
    height: 4px;
    background: white;
    border: none;
    border-radius: 3px;
}

:-webkit-full-screen input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

:-webkit-full-screen input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    margin-top: -6px;
}

input:focus {
    outline: none;
}

#play-button {
    min-width: 20px;
}

/* auto toggle fullscreen icon */
:-webkit-full-screen .fa-expand:before {
    content: "\f066"
}

#bottomHoverZone {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

:-webkit-full-screen #bottomHoverZone {
    height: 70px;
}

/* Hotkey popup */
#hotkey-popup-container {
    position: relative;
    height: 100%;
    width: 100%;
    top: -200%;
    pointer-events: none;
    z-index: 50;
}

#hotkey-popup-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

#hotkey-popup-middle {
    display: table-cell;
    vertical-align: middle;
}

#hotkey-popup {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(20, 20, 20, 0.7);
    color: white;
}

:-webkit-full-screen #hotkey-popup {
    width: 200px;
    height: 200px;
}

#hotkey-popup.inactive {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
}

#hotkey-popup.active {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 1;
}

.hotkey-popup-icon {
    font-size: 40px;
    display: none;
}

:-webkit-full-screen .hotkey-popup-icon {
    font-size: 80px;
}

#hotkey-popup-text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
}

:-webkit-full-screen #hotkey-popup-text {
    bottom: 20px;
    font-size: 32px;
}

#hotkey-popup-faster {
    padding: 23% 0 37% 8%;
}

#hotkey-popup-slower {
    padding: 23% 8% 37% 0;
}

#hotkey-popup-skip-forward,
#hotkey-popup-skip-backward {
    padding: 23% 0 37% 0;
}

#hotkey-popup-pause {
    padding: 30%;
}

#hotkey-popup-play {
    padding: 30% 0 0 9%;
}

#hotkey-popup-bookmark {
    padding:30%;
}

/* Hotkeys reference dialog */
#hotkeys-reference-container {
    position: relative;
    top: -300%;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    pointer-events: none;
}

#hotkeys-reference-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#hotkeys-reference {
    width: 300px;
    border-radius: 2px;
    background-color: rgba(20, 20, 20, 0.8);
    margin: auto;
    padding: 10px;
    pointer-events: all;
}

#hotkeys-reference table {
    border-collapse: collapse;
}

#hotkeys-reference table tr > td:first-child {
    text-align: center;
}

.keyboard-key {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin: auto;
    padding: 5px;
}

.keyboard-key.space-key {
    width: 50px;
}

#hotkeys-reference td {
    padding: 2px;
    padding-bottom: 4px;
    color: white
}

#close-hotkeys {
    float: right;
    color: white;
    padding: 5px;
}

/* Audio Only hint/reminder */
#audio-only-hint-container {
    position: relative;
    display: none;
    top: -300%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#audio-only-hint-middle {
    display: table-cell;
    vertical-align: middle;
}

#audio-only-hint {
    width: 100%;
    color: white;
    font-family: sans-serif;
}

#audio-only-title {
    font-size: 50px;
    margin-bottom: 10px;
}

/* TODO this is too inconsistent. Change to 'cursor:pointer' when fixed */
#container .clickable * {
}

/* Compatibility fixes for Cecil Lecture Downloader */
#volume-slider,
#video-speed {
    margin-bottom: 0;
}

#options-bar tr,
#options-menu tr {
    border-bottom: none;
}

#options-menu {
    margin-bottom: 0;
}

#preview div {
    text-align: center;
}

#hotkeys-reference table {
    margin-bottom: 0;
}

#options-menu hr {
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}